debian/tmp

debian/binutils
debian/binutils-dev
debian/binutils-doc
debian/binutils-multiarch
debian/binutils-multiarch-dev
debian/binutils-source

debian/binutils-aarch64-linux-gnu
debian/binutils-arm-linux-gnueabi
debian/binutils-arm-linux-gnueabihf
debian/binutils-hppa64-linux-gnu
debian/binutils-mips-linux-gnu
debian/binutils-mipsel-linux-gnu
debian/binutils-powerpc-linux-gnu
debian/binutils-powerpc64le-linux-gnu
debian/binutils-powerpc64le-linux-gnu
debian/binutils-s390x-linux-gnu
