debian/files
debian/tmp

debian/binutils
debian/binutils-dev
debian/binutils-doc
debian/binutils-for-build
debian/binutils-for-host
debian/binutils-multiarch
debian/binutils-multiarch-dev
debian/libbinutils
debian/libbinutils-dbg
debian/binutils-source
debian/binutils-*-dbg

debian/binutils-*-linux-gnu
debian/binutils-*-linux-gnuabi64
debian/binutils-*-linux-gnuabin32
debian/binutils-*-linux-gnux32
debian/binutils-arm-linux-gnueabi
debian/binutils-arm-linux-gnueabihf
debian/binutils-i686-gnu
debian/binutils-*-kfreebsd-gnu

COPYING
COPYING.LIB
COPYING3
COPYING3.LIB
ChangeLog
MAINTAINERS
Makefile.def
Makefile.in
Makefile.tpl
README
README-maintainer-mode
ar-lib
bfd
binutils
compile
config-ml.in
config.guess
config.rpath
config.sub
config
configure
configure.ac
cpu
depcomp
elfcpp
etc
gas
gold
gprof
include
install-sh
intl
ld
libiberty
libtool.m4
ltgcc.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
makefile.vms
md5.sum
missing
mkdep
mkinstalldirs
move-if-change
opcodes
setup.com
src-release.sh
symlink-tree
test-driver
texinfo
ylwrap
zlib

