debian/files
debian/tmp

debian/binutils
debian/binutils-dev
debian/binutils-doc
debian/binutils-for-build
debian/binutils-for-host
debian/binutils-multiarch
debian/binutils-multiarch-dev
debian/libbinutils
debian/libbinutils-dbg
debian/binutils-source
debian/binutils-*-dbg

debian/binutils-*-linux-gnu
debian/binutils-*-linux-gnuabi64
debian/binutils-*-linux-gnuabin32
debian/binutils-*-linux-gnux32
debian/binutils-arm-linux-gnueabi
debian/binutils-arm-linux-gnueabihf
debian/binutils-i686-gnu
debian/binutils-*-kfreebsd-gnu
